body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
header{
    background-image: linear-gradient(-45deg, lightsalmon,tomato);
    padding: 10px;
    text-decoration: none;
}
ul{
    margin: 0;
    text-align: right;
}
li{
    display: inline;
    padding: 5px;
    
}
.navbar{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-colour{
    color: orange;
}
.flex-container{
    display: flex;
    padding-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.hire-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
        background-image: url(images/dream-bg.png);
        background-repeat: no-repeat;
        background-position: right;
}
p{
    padding-right: 300px;
}    
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience-header{
    margin-left: 30px;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
}
#ex-front-end{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon,tomato) ;
    border-image-slice: 1;
}
#ex-newbie{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan) ;
    border-image-slice: 1;
}
footer{
    margin-bottom: 0;
}
footer p{
    text-align: center;
    background-image: linear-gradient(-45deg, lightsalmon,tomato);
    padding: 10px;
    margin: 0;
}

